{% extends 'library-base.html' %}

{% block title %}User Registration{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3>Student Details</h3>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Division</th>
                <th scope="col">Admission Date</th>
                <th scope="col">Parent Contact</th>
                
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.student_id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.class_name }}</td>
                <td>{{ student.division }}</td>
                <td>{{ student.admission_date }}</td>
                <td>{{ student.parent_contact }}</td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No students found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
